<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Расписание</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-black">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white fs-4" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Расписание
                        </a>
                        <ul class="dropdown-menu" style="background-color: #000; border: 1px solid; color: #fafafa;" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item text-white" href="/Lessons">Расписание</a></li>
                            <li><a class="dropdown-item text-white" href="/Disciplines">Дисциплины</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="/Groups" class="nav-link text-white fs-4">Группы</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Teachers" class="nav-link text-white  fs-4">Преподаватели</a>
                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
