@using WebAppAspNetMvcAutofac.DataModel
@model Lesson


<table class="table align-middle " style="text-align:center",>
    <tbody>
        <tr>

            <td>
                <br />
                <h1><u>@Model.Discipline.Name</u></h1>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <h3>Аннотация</h3>
            </td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="accordion ">
        <div class="accordion-item" style="background-color: #ffc107;">
            <h2 class="accordion-header" id="one">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse" aria-expanded="false" aria-controls="flush-collapse">
                    Цель дисциплины
                </button>
            </h2>
            <div id="flush-collapse" class="accordion-collapse collapse" aria-labelledby="one">
                <div class="accordion-body">
                    <span><pre style="width: auto; white-space: pre-wrap;">@Model.Discipline.DisciplineGoal</pre></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="accordion ">
        <div class="accordion-item" style="background-color: #ffc107;">
            <h2 class="accordion-header" id="two">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse2" aria-expanded="false" aria-controls="flush-collapse2">
                    Задачи дисциплины
                </button>
            </h2>
            <div id="flush-collapse2" class="accordion-collapse collapse" aria-labelledby="two">
                <div class="accordion-body">
                    <span><pre style="width: auto; white-space: pre-wrap;">@Model.Discipline.DisciplineObjectives</pre></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="accordion ">
        <div class="accordion-item" style="background-color: #ffc107;">
            <h2 class="accordion-header" id="three">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse3" aria-expanded="false" aria-controls="flush-collapse3">
                    Разделы дисциплины
                </button>
            </h2>
            <div id="flush-collapse3" class="accordion-collapse collapse" aria-labelledby="three">
                <div class="accordion-body">
                    <span><pre style="width: auto; white-space: pre-wrap;">@Model.Discipline.MainSections</pre></span>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
@Html.ActionLink("На главную", "Index", "Lessons", null, new { @class = "btn btn-outline-dark" })

@Html.ActionLink("Изменить дисциплины", "Index", "Disciplines", null, new { @class = "btn btn-outline-dark" })


<hr />


<sub><i>Описание может быть не точным</i></sub>